Google Authenticator requires a 128 bit secret key

[RFC 4226 §4 requires a 128 bit secret key](https://en.wikipedia.org/wiki/Google_Authenticator#Technical_description).

Using the Google Authenticator on iPhone 6 returns an error after scanning the secret barcode or entering the secret manually. Bumping the `DEFAULT_KEY_BIT_SIZE` in `providers/class.two-factor-totp.php` to 128 fixes the issue.

Probably #72 outlines the true cause of the issue.